= simple_form_for @post do |f|
  = f.error_notification
  .form-inputs
    = f.input :title
    = f.input :content
    = f.input :nickname, label: 'This is for bots only. Leave this blank if you are human.'
    = f.text_field :tag_list, label: 'Languages (comma separated)'

  .form-actions
    = f.button :submit
