- @posts.order('created_at DESC').each do |post|
  .post
    %h1= post.title
    %h4.date= formatted_date(post) 
    .content= render_post(post)
    .tags-container
      %p Tags:
      %ul.tags
        - post.tag_list.each do |t|
          %li= link_to t, tag_path(t)
    - if can? :manage, @post
      = render 'layouts/admin_buttons', post: @post
