= link_to "Software Mistakes", root_path, :class => 'brand'
%ul.nav
  %li= link_to 'Add Your Story', new_post_path
  %li= link_to 'About', page_path('about')

- if user_signed_in?
  %ul.nav.pull-right
    %li.dropdown
      %a.dropdown-toggle{ :role => 'button', :'data-toggle' => 'dropdown', :href => '#' }= current_user.name
      %ul.dropdown-menu{ role: 'menu', :'aria-labelledby' => 'dLabel' }
        %li= link_to 'Add Your Story', new_post_path
        %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
        %li= link_to 'Edit account', edit_user_registration_path
        - if current_user.has_role? :admin
          %li
            = link_to 'Admin', users_path
