!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Software Confessional"
      %meta{:content => content_for?(:description) ? yield(:description) : "Mistakes", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        <script type="text/javascript" src="//use.typekit.net/upo3zpu.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
      / ! end of .container
    / ! end of #main
    %footer.navbar.navbar-fixed-bottom
      .footer-container
        &copy; 2013
        = succeed '.' do
          = link_to 'Nick Cox', 'http://nickcox.me'
        Licensed under the
        = succeed '.' do
          = link_to 'MIT License', 'http://opensource.org/licenses/MIT'
        &nbsp;&nbsp;
        = link_to 'About', page_path('about')
        &nbsp;&nbsp;
        = link_to 'View code on GitHub', 'https://github.com/thenickcox/mistakes'
